$body_color: #ffff;
$font-family:'Roboto', sans-serif;
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family;
  background-color: $body_color;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3185FC;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
  .sec1 {
    margin-top: 106px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    .balance {
      display: flex;
      flex-direction: column;

      .balance_header {
        width: 1045px;
        height: 97px;
        display: flex;
        align-items: center;
        border-radius: 45px 45px 0 0;
        color: $body_color;
        font-family: $font-family;
        font-size: 42px;
        background-color: #3185FC;
        p {
          margin-left: 45px;
        }
      }
      .balance_body {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border: 3px solid #3185FC;
        height: 230px;
        img {
          width: 1020px;
          height: 218px;
        }
      }
    }
  }
  .sec2 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-left: 444px;
      margin-right: 438px;
      div {
        margin-top: 60px;
        margin-bottom: 27px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        img {
          margin: 0 auto;
        }
      }
    }
  }
  .sec3 {
    margin: 64px 441px 112px;
    .transaction {
      width: 1038px;
      height: 131px;
      border: 3px solid #3185FC;
      border-radius: 45px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 28px;
      img {
        display: block;
        margin-left: 30px;
      }
      .info1, .info2, .info3, .info4, .info5 {
        width: 870px;
        font-family: $font-family;
        font-size: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          display: block;
        }
      }
      .info1{
        p:nth-child(1) {
          margin-left: 54px;
        }
        p:nth-child(2) {
          margin-left: 57px;
        }
        p:nth-child(3) {
          margin-left: 45px;
        }
        p:nth-child(4) {
          margin-left: 78px;
        }
      }
      .info2{
        p:nth-child(1) {
          margin-left: 38px;
        }
        p:nth-child(2) {
          margin-left: 39px;
        }
        p:nth-child(3) {
          margin-left: 66px;
        }
        p:nth-child(4) {
          margin-left: 80px;
        }
      }
      .info3{
        p:nth-child(1) {
          margin-left: 36px;
        }
        p:nth-child(2) {
          margin-left: 51px;
        }
        p:nth-child(3) {
          margin-left: 80px;
        }
        p:nth-child(4) {
          margin-left: 85px;
        }
      }
      .info4{
        p:nth-child(1) {
          margin-left: 24px;
        }
        p:nth-child(2) {
          margin-left: 63px;
        }
        p:nth-child(3) {
          margin-left: 50px;
        }
        p:nth-child(4) {
          margin-left: 78px;
        }
      }
      .info5{
        p:nth-child(1) {
          margin-left: 18px;
        }
        p:nth-child(2) {
          margin-left: 32px;
        }
        p:nth-child(3) {
          margin-left: 62px;
        }
        p:nth-child(4) {
          margin-left: 77px;
        }
      }
    }
  }
  .sec4 {
    margin-bottom: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
    .target{
      display: flex;
      flex-direction: column;
      .target_header {
        width:1045px;
        height: 97px;
        display: flex;
        align-items: center;
        border-radius: 45px 45px 0 0;
        color: $body_color;
        font-family: $font-family;
        font-size: 42px;
        background-color: #3185FC;
        p {
          margin-left: 45px;
        }
      }
      .target_body {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border: 3px solid #3185FC;
        height: 192px;
        .range {
          font-family: $font-family;
          font-size: 42px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 30px;
          margin-left: 21px;
          margin-right: 21px;
        }
        .progress_bar {
          display: flex;
          align-items: center;
          border: 3px solid black;
          width:980px;
          height:54px;
          border-radius: 45px;
          padding: 0;
          margin-top: 15px;
          margin-left: 21px;
          margin-right: 21px;
          .line {
            border: 3px solid black;
            border-radius: 45px;
            background-color: #3185FC;
            width:178px;
            height: 53px;
            margin-top: -1px;
            margin-left:  -3px;
          }
        }
      }
    }
  }
}
header {
  background-color: $body_color;
  border-bottom: 2px solid #000;
  width:1920px;
  height: 110px;
  .nav {
    text-align: center;
    padding: 28px 435px 33px;
    .nav_links {
      list-style-type: none;
      font-size: 42px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      li {
        .nav_link{
          color: #000000;
          font-style: normal;
          font-weight: 400;
          text-decoration: none;
          transition: color 0.3s ease 0s, left 0.3s ease 0s;
          &:after {
            content: "";
            position: relative;
            bottom: 0;
            left: 50%;
            display: block;
            height: 2px;
            width: 0;
            background: #3185FC;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
          }
          &:hover,
          &:focus {
            color: #3185FC;
          }
          &:hover:after,
          &:focus:after {
            color: $body_color;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
footer {
  position: absolute;
  width: 1920px;
  margin-bottom: 0;
  .footer_nav {
    margin-bottom: 30px;
    line-height: 26px;
    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      text-decoration: none;
      margin-left: 661px;
      margin-right: 661px;
      li{
        a{
          text-decoration: none;
          color: #000000;
          transition: color 0.3s ease 0s, left 0.3s ease 0s;
          &:after {
            content: "";
            position: relative;
            bottom: 0;
            left: 50%;
            display: block;
            height: 2px;
            width: 0;
            background: #3185FC;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
          }
          &:hover,
          &:focus {
            color: #3185FC;
          }
          &:hover:after,
          &:focus:after {
            color: $body_color;
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 27px;
      font-size: 16px;
      font-family: $font-family;
      color: #5A5A5A;
      margin-top: 38px;
    }
  }
}